In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
! wget https://raw.githubusercontent.com/micaelavillordo/Prueba/master/Entrenamieto_ECI_2020.csv

--2020-11-17 11:14:09--  https://raw.githubusercontent.com/micaelavillordo/Prueba/master/Entrenamieto_ECI_2020.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7622942 (7.3M) [text/plain]
Saving to: ‘Entrenamieto_ECI_2020.csv’

Entrenamieto_ECI_20 100%[===================>]   7.27M  --.-KB/s    in 0.1s

2020-11-17 11:14:11 (69.2 MB/s) - ‘Entrenamieto_ECI_2020.csv’ saved [7622942/7622942]

In [3]:
entrenamiento = pd.read_csv('Entrenamieto_ECI_2020.csv')
entrenamiento

          ID    Region  ...        Stage       Prod_Category_A
0      27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1      27760      EMEA  ...   Closed Won  Prod_Category_A_None
2      27446  Americas  ...   Closed Won  Prod_Category_A_None
3      16808  Americas  ...  Closed Lost  Prod_Category_A_None
4      16805  Americas  ...  Closed Lost  Prod_Category_A_None
...      ...       ...  ...          ...                   ...
16942   8781      EMEA  ...   Closed Won  Prod_Category_A_None
16943   8786      EMEA  ...   Closed Won  Prod_Category_A_None
16944   8792      EMEA  ...   Closed Won  Prod_Category_A_None
16945  28561  Americas  ...  Closed Lost  Prod_Category_A_None
16946  28318  Americas  ...  Closed Lost  Prod_Category_A_None

[16947 rows x 52 columns]

In [15]:
lw = entrenamiento[(entrenamiento.Stage == 'Closed Won') | (entrenamiento.Stage == 'Closed Lost')]
lw

          ID    Region  ...        Stage       Prod_Category_A
0      27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1      27760      EMEA  ...   Closed Won  Prod_Category_A_None
2      27446  Americas  ...   Closed Won  Prod_Category_A_None
3      16808  Americas  ...  Closed Lost  Prod_Category_A_None
4      16805  Americas  ...  Closed Lost  Prod_Category_A_None
...      ...       ...  ...          ...                   ...
16942   8781      EMEA  ...   Closed Won  Prod_Category_A_None
16943   8786      EMEA  ...   Closed Won  Prod_Category_A_None
16944   8792      EMEA  ...   Closed Won  Prod_Category_A_None
16945  28561  Americas  ...  Closed Lost  Prod_Category_A_None
16946  28318  Americas  ...  Closed Lost  Prod_Category_A_None

[16883 rows x 52 columns]

In [16]:
op = lw.groupby('Opportunity_ID').agg({'Stage':'max', 'Opportunity_Type': 'max'})
op['Opportunity_Type'].unique()

array(['Opportunity_Type_1', 'Opportunity_Type_19', 'Opportunity_Type_7',
       'Opportunity_Type_8', 'Opportunity_Type_2', 'Opportunity_Type_4',
       'Opportunity_Type_11', 'Opportunity_Type_20',
       'Opportunity_Type_12', 'Opportunity_Type_3', 'Opportunity_Type_5',
       'Opportunity_Type_15', 'Opportunity_Type_0', 'Opportunity_Type_14',
       'Opportunity_Type_18', 'Opportunity_Type_23', 'Opportunity_Type_9',
       'Opportunity_Type_21', 'Opportunity_Type_22',
       'Opportunity_Type_10', 'Opportunity_Type_17',
       'Opportunity_Type_13', 'Opportunity_Type_6', 'Opportunity_Type_16',
       'Opportunity_Type_24'], dtype=object)

In [6]:
op

                      Stage     Opportunity_Type
Opportunity_ID
0               Closed Lost   Opportunity_Type_1
1                Closed Won   Opportunity_Type_1
2                Closed Won   Opportunity_Type_1
3               Closed Lost  Opportunity_Type_19
4               Closed Lost  Opportunity_Type_19
...                     ...                  ...
12799            Closed Won   Opportunity_Type_1
12800           Closed Lost  Opportunity_Type_19
12801            Closed Won   Opportunity_Type_1
12802           Closed Lost   Opportunity_Type_1
12803           Closed Lost  Opportunity_Type_19

[9791 rows x 2 columns]

In [17]:
op_won = op[op.Stage == 'Closed Won']
op_won['Stage']=1
op_won

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                Stage     Opportunity_Type
Opportunity_ID
1                   1   Opportunity_Type_1
2                   1   Opportunity_Type_1
7                   1   Opportunity_Type_1
11                  1  Opportunity_Type_19
20                  1   Opportunity_Type_8
...               ...                  ...
12794               1  Opportunity_Type_19
12796               1   Opportunity_Type_7
12797               1   Opportunity_Type_8
12799               1   Opportunity_Type_1
12801               1   Opportunity_Type_1

[5072 rows x 2 columns]

In [18]:
op_won_top=op_won.groupby('Opportunity_Type').agg({'Stage':'sum'}).nlargest(5, 'Stage')
op_won_top

                     Stage
Opportunity_Type
Opportunity_Type_1    2668
Opportunity_Type_7    1373
Opportunity_Type_8     516
Opportunity_Type_19    202
Opportunity_Type_12    122

In [10]:
op_lost=op[op.Stage == 'Closed Lost']
op_lost['Stage']=1
op_lost

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                Stage     Opportunity_Type
Opportunity_ID
0                   1   Opportunity_Type_1
3                   1  Opportunity_Type_19
4                   1  Opportunity_Type_19
5                   1  Opportunity_Type_19
6                   1  Opportunity_Type_19
...               ...                  ...
12795               1   Opportunity_Type_1
12798               1  Opportunity_Type_19
12800               1  Opportunity_Type_19
12802               1   Opportunity_Type_1
12803               1  Opportunity_Type_19

[4719 rows x 2 columns]

In [20]:
op_lost=op_lost.groupby('Opportunity_Type').agg({'Stage':'sum'})
op_lost.head(10)

                     Stage
Opportunity_Type
Opportunity_Type_0       2
Opportunity_Type_1    2460
Opportunity_Type_10      4
Opportunity_Type_11      1
Opportunity_Type_12     16
Opportunity_Type_13      4
Opportunity_Type_14      4
Opportunity_Type_15      6
Opportunity_Type_16      1
Opportunity_Type_18      8

In [21]:
data = op_won_top.merge(op_lost, how='left', on='Opportunity_Type')
data

                     Stage_x  Stage_y
Opportunity_Type
Opportunity_Type_1      2668     2460
Opportunity_Type_7      1373      622
Opportunity_Type_8       516      219
Opportunity_Type_19      202     1075
Opportunity_Type_12      122       16

In [22]:
import plotly.graph_objects as go

label = ['Oportunidades', 
         'Op. Tipo 1', 
         'Op. Tipo 7', 
         'Op. Tipo 8', 
         'Op. Tipo 19',
         'Op. Tipo 12', 
         'Ganadas',
         'Perdidas']

source = [0, 0, 0, 0, 0,
          1, 1,
          2, 2,
          3, 3,
          4, 4,
          5, 5]
target = [1, 2, 3, 4, 5, 
          6, 7,
          6, 7, 
          6, 7,
          6, 7,
          6, 7]
value = [5128, 1995, 735, 1277, 138,
         2668, 2460, 
         1373, 622, 
         516, 219, 
         202, 1075,
         122, 16]

color_node = [
'#808B96', 
'#EC7063', '#F7DC6F', '#48C9B0', '#AF7AC5', '#2980B9',
'#808B96', '#808B96']

color_link = [
'#EBBAB5', '#FEF3C7', '#A6E3D7', '#CBB4D5', '#5499C7',
'#EBBAB5', '#EBBAB5',
'#FEF3C7', '#FEF3C7',
'#A6E3D7', '#A6E3D7',
'#CBB4D5', '#CBB4D5',
'#5499C7', '#5499C7']

# data to dict, dict to sankey
link = dict(source = source, target = target, value = value, color=color_link)
node = dict(label = label, pad=50, thickness=5, color=color_node)
data = go.Sankey(link = link, node=node)
# plot
fig = go.Figure(data)
fig.update_layout(
    title='Proporción de los 5 tipos de oportunidades con mayor cantidad de casos ganados'
    )
fig.show()